@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap");
body {
  font-family: "Lato", sans-serif !important;
}

.content-container {
  margin: 0 auto;
  max-width: 1440px;
}

.logo {
  width: 250px;
}

.search-input {
  border: none !important;
  border-radius: 0 !important;
  background-color: #e7e7e7 !important;
}

.filter-search-input {
  background: none !important;
  border: none !important;
}

.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-input-icon {
  font-size: 35px;
  padding: 5px;
}

.btn {
  padding: 15px 23px !important;
}

.btn-green {
  background-color: #68D9A4 !important;
  color: white !important;
}

.btn-orange {
  background-color: #ED6454 !important;
  color: white !important;
}

.item-anchor {
  text-decoration: none !important;
  color: #000000 !important;
}

.card-img {
  background: #C7BEBE;
  height: 178px;
  z-index: 3;
}

article {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
}

.recipe-container {
  margin: 25px;
  gap: 25px;
}
.recipe-container article {
  background: #E7E7E7;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card-infoContent {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.card-infoContent ul {
  margin: 0 !important;
  padding: 0 !important;
}
.card-infoContent .description,
.card-infoContent .ingredient-list {
  width: 45%;
  list-style-type: none;
}

.card-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
}

.card-ingredient-name {
  font-weight: 700;
}

.card-time-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-time {
  font-size: 18px;
  font-weight: 700;
}

.search {
  display: none;
  gap: 10px;
  align-items: center;
}

.filter-list {
  display: none;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

.filter-item-anchor {
  color: white;
  text-decoration: none;
}

.tag-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.chosen-filter-btn {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

.chosen-ingredient,
.ingredient-filter-container {
  background: #3282F7;
  border-radius: 5px;
  z-index: 100;
}

.chosen-appareil,
.appareil-filter-container {
  background: #68D9A4;
  border-radius: 5px;
  z-index: 100;
}

.chosen-ustensil,
.ustensil-filter-container {
  background: #ED6454;
  border-radius: 5px;
  z-index: 100;
}

.filter-list,
.search {
  padding: 15px 25px;
}

.filter-list {
  max-height: 350px;
  overflow: auto;
}

.dropdown-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-height: 250px;
  overflow: visible;
}

i {
  margin-left: 15px;
}

.fa-chevron-up {
  color: white;
}

.ingredient-btn,
.appareil-btn,
.ustensil-btn {
  width: 170px;
}

/*# sourceMappingURL=style.css.map */
