@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');

//font
$main-font: 'Lato', sans-serif;
$description-font: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;


//color
$card-img-color: #C7BEBE;
$card-container-color:  #E7E7E7;
$item-color: #000000;
$btn-blue: #3282F7;
$btn-green: #68D9A4;
$btn-orange:  #ED6454;
$btn-text-color: white;